.product-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
  border-radius: 12px;
  padding: 0.5rem;
  width: 5.5rem;
}

.product-date_month {
  font-size: 0.85rem;
}

.product-date_year {
  font-size: 0.75rem;
  color: #ccc;
}

.product-date_day {
  font-size: 1.5rem;
  font-weight: bold;
}
