.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.product-item_description {
  flex: 1;
  margin-left: 1rem;
}

.product-item_description h2 {
  font-size: 1.5rem;
  color: #333;
}

.product-item button {
  padding: 0.5rem 1rem;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.product-item button:hover {
  background-color: #21a1f1;
}
